* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.header-container {
  background: rgb(42, 131, 205);
  background: -webkit-linear-gradient(
    left,
    rgb(42, 131, 205) 3%,
    rgb(89, 191, 141) 88%
  );
  background: -o-linear-gradient(
    left,
    rgb(42, 131, 205) 3%,
    rgb(89, 191, 141) 88%
  );
  background: linear-gradient(
    to right,
    rgb(42, 131, 205) 3%,
    rgb(89, 191, 141) 88%
  );
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 13px 2px;
  padding: 3em 0;
  position: relative;
  text-align: center;
}

.header-wrapper {
  margin: 0 auto;
}

.with-text {
  color: #fff;
  display: block;
  margin: 1em;
}

h1 {
  color: #fff;
  font-size: 5em;
  line-height: 1;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 0.05em;
}

.name-container {
  background-color: #e5f2fa;
  height: 100%;
  padding: 0.75em;
  text-align: center;
  width: 100%;
}

.name-card {
  background-color: rgb(248, 252, 255);
  border-radius: 0.3em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 20px 1px;
  display: inline-flex;
  flex-direction: column;
  height: 10em;
  justify-content: flex-end;
  margin: 0.75em;
  width: 13em;
}

.name {
  font-size: 1em;
  margin: 0;
  padding: 0 1em 1em 1em;
  width: 100%;
  word-wrap: break-word;
}

.headshot {
  border-radius: 50%;
  height: 4.5em;
  margin: auto;
  width: 4.5em;
}

.checkmark-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.checkmark__circle {
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  fill: none;
  stroke: rgb(89, 191, 141);
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

.checkmark {
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px rgb(89, 191, 141);
  display: block;
  height: 3.5em;
  position: relative;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  top: 50%;
  width: 3.5em;
}

.checkmark__check {
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  transform-origin: 50% 50%;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1), translateY(-50%);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px rgb(89, 191, 141);
  }
}

@media screen and (min-width: 750px) {
  .header-container {
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 5px 0px 13px 2px;
    display: flex;
    position: fixed;
    height: 100%;
    width: 25em;
  }

  .name-container {
    float: right;
    width: calc(100% - 25em);
  }
}
